body{
    margin: 0;
    padding: 0;
    background: rgb(217, 217, 217);
}
header{
    background: black;
    color: whitesmoke;
    padding: 1.5rem 1rem;
}
footer{
    background: black;
    color: whitesmoke;
    padding: 3rem 1rem;
}
.container{
    display: block;
    margin: auto;
    width: 70%;
    margin: 1rem auto;
}
.outputOne{
    display: block;
    margin: 1rem auto;
    width: 70%;
}
.outputTwo{
    display: block;
    margin: 1rem auto;
    width: 70%;
}
.lead{
    font-size: 18px;
}
.card{
    width: 100%;
}
.bubble{
    height: 26px;
    width: 26px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: bottom;
}
.top{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}
.mid{
    padding: 1rem 3rem;
    font-size: 18px;
}

@media only screen and (max-width: 1000px) {
    .containerOne{
        width: 100%;
    }
}