body{
    margin: 0;
    padding: 0;
    background: rgb(217, 217, 217);
    min-width: 340px;
}
header{
    background: black;
    color: whitesmoke;
    padding: 1.5rem 1rem;
}
footer{
    background: black;
    color: whitesmoke;
    padding: 3rem 1rem;
    text-align: center;
    display: flex; 
    flex-direction: column;
}
footer a{
    color: white;
    margin: 0.5rem 0;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
.container{
    display: block;
    margin: auto;
    width: 70%;
    margin: 1rem auto;
}
.outputOne{
    display: block;
    margin: 1rem auto;
    width: 70%;
}
.outputTwo{
    display: block;
    margin: 1rem auto;
    width: 70%;
}
.card{
    width: 100%;
}
.bubble{
    height: 30px;
    width: 40px;
    border-radius: 10%;
    display: inline-block;
    vertical-align: bottom;
}
.d-flex{
    display: flex;
    flex-direction: row;
}
.d-col{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.d-l{
    width: 25%;
    border-radius: 10px;
    max-width: 300px;
}
.d-r{
    width: 75%;
    padding: 0 1rem; 
}
.color{
    font-weight: bold;
    font-size: 22px;
}
.details{
    font-size: 18px;
}
.lead{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 26px;
}
label{
    font-size: 14px;
    vertical-align: top; 
}
select{
    font-size: 18px;
    width: 10rem; 
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

@media only screen and (max-width: 1000px) {
    .container{
        width: 80%;
    }
    .d-flex{
        flex-direction: column;
    }
    .d-l{
        height: 100px;
        width: 100%;
        border-radius: 10px;
    }
    .d-r{
        width: 100%;
    }
    select{
        width: 100%;
    }
}